body {
    background: rgba(245, 210, 158, 0.938);
    font: normal 15pt Arial;
}

#secao {
    background:white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.678);
}

#botoes {
    text-align: center;
    padding: 15px;
}

#btn1{
    background-color: rgb(245, 245, 10);
    border-radius: 5px;
    width: 90px;
    height: 30px;        
    font-weight: bold;
}

#btn2{
    background-color: red;
    border-radius: 5px;
    width: 90px;
    height: 30px;        
    font-weight: bold;
}


#btn3{
    background-color: rgb(4, 139, 4);
    border-radius: 5px;
    width: 350px;
    height: 40px;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    padding: px;   
}

#btn4 {
    background-color: blue;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    font-weight: bold;
}

#conteudo {
    color: black;
    text-align: left;
}

#textarea {
    width: 450px;
    height: 150px;
    border-radius: 10px;
    margin: auto;
}

#tema, h3 {
    font-weight: bold;
    color: black;
    text-align: center;
}

footer,
a {
    color: black;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    padding: 15px;
}

form {
    margin-top: 50px;
    padding: 15px;
    width: 500px;
    height: 350px;
}

#titulo {
    width: 450px;
    height: 25px;
    border-radius: 10px;
    resize: none;
    margin: auto;
}

#ti, #ta {
    font-weight: bold;
    color: black;
    text-align: left;
}