<section id="secao">
    <div id="tema">
        <hr>
        <h3>Escreva uma postagem</h3>
        <hr>
    </div>

    <form action="/enviar" method="POST">
        <p id="ti"></strong> Titulo: </p>
        <input type="text" name="titulo" id="titulo" value="" placeholder="Titulo da postagem">

        <p id="ta">Conteúdo: </p>
        <textarea name="conteudo" id="textarea" value="" placeholder="Insira uma decrição..."></textarea>
        <div id="botoes">
            <a href="/"><button id="btn1">Cancelar</button></a>
            <button type="submit" id="btn4">Postar</button>
        </div>
    </form>

</section>

<footer>
    &copy; Desenvolvido por<a href="mailto:ruthmariia01@gmail.com">Ruth Maria</a>
</footer>
