
<section id="secao">
    <div id="tema">
        <hr>
        <h2>Lista de postagens</h2>
        <hr>
    </div>

    {{#each posts}}
        <h3>{{dataValues.titulo}}</h3>
        <p id="conteudo">{{dataValues.conteudo}}</p>

        <div id="botoes">
            <a href="/editar/{{dataValues.id}}"><button id="btn1">Editar</button>
            <a href="/deletar/{{dataValues.id}}"><button id="btn2">Deletar</button></a>
        </div>
        <hr>
    {{/each}}

</section>

<footer>
   <a href="/cadastrar"><button id="btn3">Criar novo post</button></a>
    <p>&copy; Desenvolvido por<a href="mailto:ruthmariia01@gmail.com">Ruth Maria</a></p>
</footer>
